/* NAVBAR */

.navbar {
  background-color: white;
}

.navbar li a {
  color: royalblue;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0 10px;
}

.navbar li a:hover {
  color: royalblue;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0 10px;
}

.navbar-brand {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* Jumbotron */
#headJumbo img {
  height: 200px;
  width: auto;
}

#headJumbo {
  /*background-color: #380036;*/
  color: white;
}

#headJumbo h3 {
  font-size: 2.2rem;
}

#headJumbo h1 {
  font-size: 3rem;
}

.jumbotron {
  background-color: #0CBABA;
  box-shadow: 1px 1px 5px gray;
}

.image img {
  width: 200px;
  height: 200px;
  background-size: cover;
  display: block;
  border-top-left-radius: 100px;
  -webkit-border-top-left-radius: 100px;
  -moz-border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
}

/* About Me */

#aboutMe {
  margin-top: 75px;
}

/* Skills Images */

#skills {
  margin-top: 75px;
}

/*svg (access the images)*/
#skills svg.svg-inline--fa{
  font-size: 5rem;
  margin: auto;
  color: #0CBABA;
  margin: 10px;
}

/*Hover effect*/
#skills svg.svg-inline--fa:hover{
/*!important allows hover to work*/
color: royalblue!important;
  font-size: 5.2rem;
}

/* Carousel */
#showCase {
  margin-top: 75px;
}

.cap1 h3 {
  color: royalblue;
}

.cap1 p {
  color: cornflowerblue;
  font-size: 1.1rem;
}

/*carousel bars*/
.carousel-indicators li {
  display: none;
}

#projectsShow img {
  width: 100%;
  height: 400px;
  padding: 30px 0;
}

.cap1 {
  margin-top: 15px;
}

/* Experience */

#workHis {
  margin-top: 30px;
  text-align: center;
}

#workHis h1 {
  font-size: 2rem;
  text-decoration: underline blueviolet;
}

#workHis h3 {
  font-size: 1.3rem;
  text-decoration: underline royalblue;
}

#workHis h4 {
font-size: 1rem;
font-style: italic;
  color: orangered;
}

#workHis h6 {
  font-size: 0.8rem;
  font-weight: 200;
}

/* Cards/Reviews */

#reviews .card {
  margin-top: 50px;
  box-shadow: 1px 1px 1px gray;
}

#review {
  margin-top: 50px;
}

.card-header {
  background-color: #0CBABA;
  color: white;
  font-size: 1.1rem;
}

/* FOOTER */

#footer {
  background-color: royalblue;
  margin-top: 100px;
}

#contact {
  color: white;
}

#contact svg.svg-inline--fa{
  font-size: 1.7rem;
  margin: auto;
  color: white;
  margin: 2px;
}

#contact svg.svg-inline--fa:hover{
  /*!important allows hover to work*/
  color: orangered!important;
  font-size: 1.7rem;
}
